/* ==========部分地区发货公告========== */
 #some{
    height: 20px;
    width: 100%;
    text-align: center;
    background-color: #000;
    color: white;
}
/*=========login区域=========*/
#main{
    width: 100%;
    min-height: 620px;
    background-color: #f1f2ed;
    overflow: hidden;
}
.login{
    width: 1000px;
    height: 500px;
    margin: 50px auto;
    /* float: left; */
}
.login .img{
    float: left;
}
.login img{
    width: 500px;
}
.loginright{
    float: left;
    width: 500px;
    height:410px;
}
.loginright .box{
    width: 336px;
    height: 410px;
    margin-left: 80px;
    font-size: 13px;
}
.loginright .box .h2{
    float: left;
    color: #c9192e;
    width: 50%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 13px;
    border-bottom: 1px solid #c9192e;
    margin-bottom: 20px;
} 
.loginright .box .h22{
    float: left;
    color: #666666;
    width: 50%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    font-size: 13px;
    border-bottom: 1px solid #d2d2d2;
    margin-bottom: 20px;
}  
.loginright .box .iphone{
        border-bottom: 1px solid #d2d2d2;
}
.loginright .box .iphone li:nth-child(1) input{
    width: 305px;
    height: 34px;
    background-color: #fff;
    padding: 0 15px;
    border: 1px solid #d2d2d2;
    margin-bottom: 20px;
} 
.loginright .box .iphone li:nth-child(2) input{
    width: 40%;
    height: 34px;
    background-color: #fff;
    padding: 0 15px;
    border: 1px solid #d2d2d2;
    margin-bottom: 20px;
} 
.loginright .box .iphone li:nth-child(2) span{
    width: 25%;
    height: 34px;
    /* color: #d2d2d2; */
    font-size: 12px;
    margin-left: 10px;
}
.loginright .box .iphone li:nth-child(3) input{
    width: 40%;
    height: 34px;
    background-color: #fff;
    padding: 0 15px;
    border: 1px solid #d2d2d2;
    margin-bottom: 20px;
} 
.loginright .box .iphone li:nth-child(3) button{
    width: 46%;
    height: 34px;
    background-color: #000;
    color: white;
    padding: 0 15px;
    margin-bottom: 20px;
    border: none;
    margin-left: 10px;
} 
.loginright .box .iphone li:nth-child(4){
    color: #d2d2d2;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}
.loginright .box .iphone li:nth-child(5) button{
    width: 100%;
    height: 34px;
    background-color: #c9192e;
    color: white;
    text-align: center;
    line-height: 34px;
    margin-bottom: 20px;
    border: none;
} 
.loginright .box .iphone li:nth-child(6){
    width: 100%;
    height: 34px;
    text-align: center;
    line-height: 34px;
    margin-bottom: 15px;
} 
.loginright .box .iphone li:nth-child(6) a{
    color: #c9192e;
    text-decoration: underline;
}
.loginright .box .other{
    width: 336px;
    height: 40px;
    color: #666666;
    margin-top: 20px;
}
.loginright .box .other .iconfont{
    font-size: 38px;
    padding-left: 10px;
}
/*用户名登录*/
.loginright .box .username li:nth-child(1) input{
    width: 305px;
    height: 34px;
    background-color: #fff;
    padding: 0 15px;
    border: 1px solid #d2d2d2;
    margin-bottom: 20px;
} 
.loginright .box .username li:nth-child(2) input{
    width: 305px;
    height: 34px;
    background-color: #fff;
    padding: 0 15px;
    border: 1px solid #d2d2d2;
    margin-bottom: 20px;
} 
.loginright .box .username li:nth-child(3){
    color: #d2d2d2;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}
.loginright .box .username li:nth-child(4) button{
    width: 100%;
    height: 34px;
    background-color: #c9192e;
    color: white;
    text-align: center;
    line-height: 34px;
    margin-bottom: 20px;
    border: none;
} 
.loginright .box .username li:nth-child(5){
    width: 100%;
    height: 34px;
    text-align: center;
    line-height: 34px;
    margin-bottom: 15px;
} 
.loginright .box .username li:nth-child(5) a{
    color: #c9192e;
    text-decoration: underline;
}
.loginright .box .username{
        border-bottom: 1px solid #d2d2d2;
        display: none;
}

/* #main .other .icon-weixin:hover{
    background-color: #4ac237;
}
#main .other .icon-weibo1:hover{
    background-color: #e90e24;
}
#main .other .icon-QQ-circle-fill:hover{
    background-color: #21b1ff;
}
#main .other .icon-zhifubaozhifu:hover{
    background-color: #21b1ff;
} */
